h1 {
  color: blue;
}
p {
  color: red;
}

@media screen and (max-width: 2400px) {
  p {
    font-size: 1.2rem;
    color: blue;
  }
}

@media screen and (max-width: 2400px) {
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 2400px) {
  .sidebar {
    display: block;
  }
}
